.container,
.container-author-results,
.container-category-results,
.container-search,
.container-header {
  margin: 0 auto;
}

.row,
#presentation-row,
#presentation-row-author {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half {
  width: 100%;
}

@media screen and (min-width: 600px) {
  .card-container {
    flex-basis: 100%;
  }

  .card {
    margin-left: auto;
    margin-right: auto;
  }

  #modal-mobile {
    display: none;
  }
}

@media (min-width: 760px) {
  .card {
    flex-basis: calc(100% / 5);
  }

  .container-header {
    max-width: 1300px;
  }

  .container,
  .container-search,
  .container-category-results,
  .container-author-results {
    max-width: 1300px;
  }

  .column-full {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }
}

@media screen and (max-width: 500px) {
  #modal {
    display: none !important;
  }

  #button6 {
    margin-right: 12px;
  }

  #modal-mobile {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
  }
}
