* {
  margin-left: auto;
  margin-right: auto;
}

.container,
.container-author-results,
.container-category-results,
.container-search,
.container-header {
  margin: 0 auto;
}

.row,
#presentation-row,
#presentation-row-author {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half,
#presentation-row-author > .card > .card-container,
#presentation-row-category > .card > .card-container {
  width: 100%;
}

@media screen and (min-width: 600px) {
  .card-container {
    flex-basis: 100%;
  }

  .card {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 814px) {
  .card {
    flex-basis: calc(100% / 3);
  }
}

@media screen and (min-width: 815px) {
  .card {
    flex-basis: calc(100% / 5);
  }

  .container-header {
    max-width: 1300px;
  }

  .container,
  .container-search,
  .container-category-results,
  .container-author-results {
    max-width: 1300px;
  }

  .column-full {
    padding: 0 0.75rem;
  }

  .text-content-modal {
    margin-top: 20px;
  }

  .column-half,
  .modal-mobile-content-container,
  .modal-mobile-window > .row {
    width: 50%;
  }

  .text-content-modal > .row > #modal-book-description {
    display: inline;
  }

  .modal-mobile-image-container > .img-window {
    margin-left: unset;
  }

  .modal-mobile-content-container {
    width: 100%;
  }

  span.Publisher-modal.mobile,
  span.ISBN-modal.mobile,
  span.author-modal.mobile {
    margin: 0 inherit 0 inherit;
  }

  #mobile-modal > div > span {
    margin: 0;
  }
}

@media screen and (max-width: 615px) {
  .container-category-results > .row > .card,
  .container-author-results > .row > .card {
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 415px) {
  .card {
    flex-basis: 100%;
  }

  img.modal-photo-mobile {
    width: 80%;
  }

  *.modal-mobile-image-container,
  *span.close.display-topright,
  #mobile-modal > div > span {
    margin: unset;
    padding: unset;
  }

  .modal-mobile-window > .row:first-of-type {
    margin: 0;
  }

  #mobile-modal > div > span {
    margin: 0 40px 0 0;
  }

  span.title-font-size,
  .author-font-size,
  #title-text,
  #author-text {
    font-size: 2.2vw;
  }
}
