* {
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  background-color: #e0e0e0;
}

header {
  background-color: #4a91fc;
  width: 100%;
}

input {
  border: 1px solid rgb(189, 189, 189);
  font-size: 24px;
  height: 40px;
  border-radius: 5px;
  margin-bottom: 5px;
  width: 72%;
}

input:focus {
  outline: none;
  border: 1px solid rgb(74, 145, 252);
  box-shadow: 0 0 1px 1px rgba(74, 145, 252, 0.6);
}

.hidden {
  display: none;
}

button {
  background-color: #4a91fc;
  color: white;
  font-weight: bold;
  padding: 8px 16px 8px 16px;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
  margin-left: 60px;
  margin-right: 60px;
}

button.modalButton {
  margin-left: 0;
  margin-right: 0;
}

a,
#mobile-modal-title {
  color: black;
  text-decoration: none;
}

span#search-result-author,
span#search-result-category {
  font-size: 36px;
  margin-left: 16px;
}

.fa.fa-book {
  margin-right: 8px;
  margin-left: 2px;
}

.far.fa-heart,
.fas.fa-heart {
  float: right;
  color: red;
}

.searchButton {
  padding: 8px 64px 8px 64px;
  font-size: larger;
  text-align: center;
}

.align-right {
  text-align: right;
}

.container-search {
  text-align: center;
  margin-top: 16px;
}

.align-right > button {
  margin-right: 12pc;
  margin-bottom: 20px;
}

.card-container {
  background-color: white;
  border-radius: 32px;
  box-shadow: 0 6px 6px -4px rgba(0, 0, 0, 0.3);
  padding: 32px;
  margin-bottom: 16px;
}

.card-container:hover {
  background-color: rgb(200, 219, 248);
  transition: 0.3s ease-in;
}

.modal-window,
.modal-mobile-window {
  background-color: white;
  margin: 5% auto;
  border-radius: 8px;
}

.modal-window {
  width: 50%;
  height: 50%;
  padding: 16px 16px 0 16px;
}

.modal-mobile-window {
  width: 75%;
  height: 75%;
  padding: 8px 8px 0 8px;
}

.card {
  padding: 2px;
  display: flex;
  margin-top: 8px;
}

.card:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.02);
}

.card-text-holder {
  font-size: 16px;
  margin-top: 8px;
  margin-left: 8px;
}

b.title {
  display: block;
}

span.title {
  font-weight: bold;
  display: inline;
}

p {
  font-size: 16px;
}

span.title-font-size {
  font-size: 14px;
}

span.author-font-size {
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
}

img {
  margin-left: auto;
  margin-right: auto;
  width: 175px;
  height: 240px;
  display: block;
  cursor: pointer;
}

img.modal-photo-mobile {
  width: 210px;
  height: 25%;
}

h1,
.row.display,
.row.header {
  display: inline;
  height: 30px;
}

.row.header {
  margin-left: 14px;
}

h3,
h3.card-header {
  color: black;
  display: inline;
}

h2 {
  color: white;
}

#modal,
#mobile-modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.close {
  cursor: pointer;
  position: relative;
  float: right;
  font-size: 48px;
}

img.modal-photo {
  width: 215px;
  height: 280px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img.modal-photo:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 8px 30px 0 rgba(0, 0, 0, 0.59);
  transition: 0.3s ease-in;
}

.img_window {
  position: relative;
  float: left;
  margin-left: 25px;
  margin-top: 20px;
}

.text-content-modal {
  margin-left: 100px;
}

b.author-prompt-modal {
  margin-left: 15px;
  margin-top: 30px;
}

b.ISBN-prompt-modal {
  margin-left: 15px;
  margin-top: 30px;
}

span.book-description {
  display: block;
  margin-left: 15px;
  margin-top: 30px;
}

span.ISBN-modal {
  display: inline;
}

b.Publisher-prompt-modal {
  display: inline-block;
  margin-left: 15px;
  margin-top: 30px;
}

strong.number-of-weeks-modal {
  display: inline-block;
  margin-left: 15px;
  margin-top: 30px;
}

span.NOW-modal {
  display: inline;
}
