* {
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  background-color: #e0e0e0;
}

header {
  background-color: #4a91fc;
}

button {
  background-color: #4a91fc;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 10px;
  margin-top: 10px;
}

.align-right {
  text-align: right;
}

.card-container {
  background-color: white;
  border-radius: 0.75rem;
  box-shadow: 0 6px 6px -4px rgba(0, 0, 0, 0.3);
  padding: 2rem;
}

.card {
  padding: 0.1rem;
}

.card-text-holder {
  font-size: 0.9vw;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

b.title {
  display: block;
}

span.title {
  font-weight: bold;
  display: inline;
}

p {
  font-size: 0.9vw;
}

img {
  margin-left: auto;
  margin-right: auto;
  width: 175px;
  height: 250px;
  display: block;
}

h1 {
  display: inline;
}

h3 {
  color: black;
  display: inline-block;
}

h2 {
  color: white;
}

h3.card-header {
  display: block;
  text-align: center;
}
