* {
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  background-color: #e0e0e0;
}

header {
  background-color: #4a91fc;
}

button {
  background-color: #4a91fc;
  color: white;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 5px;
}

.align-right {
  text-align: right;
}

.display-card {
  background-color: white;
  border-radius: 0.75rem;
  box-shadow: 0 6px 6px -4px rgba(0, 0, 0, 0.3);
  padding: 0.5rem;
}

img {
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  display: block;
}

h1 {
  display: inline;
}

h2,
h3 {
  color: black;
  display: inline-block;
  margin-left: 2rem;
}

h3.card-header {
  display: block;
  text-align: center;
}
