* {
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  background-color: #e0e0e0;
}

header {
  background-color: #4a91fc;
}

input {
  border: 1px solid rgb(189, 189, 189);
  font-size: 1.5rem;
  height: 40px;
  border-radius: 0.25rem;
  margin-bottom: 1.5rem;
}

input:focus {
  outline: none;
  border: 1px solid rgb(74, 145, 252);
  box-shadow: 0 0 1px 1px rgba(74, 145, 252, 0.6);
}

.hidden {
  display: none;
}

button {
  background-color: #4a91fc;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
  margin-left: 7rem;
  margin-right: 7rem;
}

button.modalButton {
  margin-left: 0;
  margin-right: 0;
}

a {
  color: black;
}

span#search-result-author,
span#search-result-category {
  font-size: 2rem;
  margin-left: 1rem;
}

.fa.fa-book {
  margin-right: 0.5rem;
  margin-left: 0.1rem;
}

.far.fa-heart,
.fas.fa-heart {
  float: right;
  color: red;
}

.searchButton {
  padding: 0.5rem 4rem 0.5rem 4rem;
  font-size: larger;
  text-align: center;
}

.align-right {
  text-align: right;
}

.card-container {
  background-color: white;
  border-radius: 2rem;
  box-shadow: 0 6px 6px -4px rgba(0, 0, 0, 0.3);
  padding: 2rem;
  margin-bottom: 1rem;
}

.card-container:hover {
  background-color: rgb(200, 219, 248);
  transition: 0.3s ease-in;
}

.modal-window {
  background-color: white;
  margin: 5% auto;
  padding: 1rem 1rem 0 1rem;
  width: 50%;
  height: 50%;
  border-radius: 0.5rem;
}

.card {
  padding: 0.1rem;
  display: flex;
  margin-top: 0.5rem;
}

.card:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.02);
}

.card-text-holder {
  font-size: 0.9vw;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

b.title {
  display: block;
}

span.title {
  font-weight: bold;
  display: inline;
}

p {
  font-size: 1vw;
}

span.title-font-size {
  font-size: 0.7em;
}

span.author-font-size {
  font-size: 0.6vw;
  white-space: nowrap;
  overflow: hidden;
}

img {
  margin-left: auto;
  margin-right: auto;
  width: 175px;
  height: 250px;
  display: block;
  cursor: pointer;
}

h1,
.row.display,
.row.header {
  display: inline;
  height: 30px;
}

.row.header {
  margin-left: 0.8rem;
}

h3,
h3.card-header {
  color: black;
  display: inline;
}

h2 {
  color: white;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.close {
  cursor: pointer;
  position: relative;
  float: right;
  font-size: 3rem;
}

img.modal-photo {
  width: 230px;
  height: 350px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img.modal-photo:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 8px 30px 0 rgba(0, 0, 0, 0.59);
  transition: 0.3s ease-in;
}

.img_window {
  position: relative;
  float: left;
  margin-left: 25px;
  margin-top: 20px;
}

.text-content-modal {
  margin-left: 100px;
}

b.author-prompt-modal {
  margin-left: 15px;
  margin-top: 30px;
}

b.ISBN-prompt-modal {
  margin-left: 15px;
  margin-top: 30px;
}

span.book-description {
  display: block;
  margin-left: 15px;
  margin-top: 30px;
}

span.ISBN-modal {
  display: inline;
}

b.Publisher-prompt-modal {
  display: inline-block;
  margin-left: 15px;
  margin-top: 30px;
}

strong.number-of-weeks-modal {
  display: inline-block;
  margin-left: 15px;
  margin-top: 30px;
}

span.NOW-modal {
  display: inline;
}
